*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
}
 
nav a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;
	padding-right: 10px
}

a:hover {
	text-decoration: underline;
}

nav img {
	cursor: pointer;
	padding: 10px;
    height: 50px;
}

.form{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.section-1 {
	flex: 1;
}

.section-1 .logo {
	display: flex;
	margin: 0px auto;
	margin-top: 107px;
}

.s-box{
    outline: none;
}

.s-box .s-input{
    width:580px;
    display:block;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #ddd;
	font-size: 16px;
	padding: 13px;
	padding-left: 40px;
	border-radius: 25px;
    outline: none;
}

.s-box .button-container{
    margin:auto;
    text-align: center;  
}

.s-btn {
	border: 1px solid transparent;
    padding: 9px 15px;
	color: #666;
    font-size: 14px;
	border-radius: 4px;
    outline: none;
	cursor: pointer;
}

.s-btn:hover {
	border: 1px solid #aaa;
}

.language-container {
    line-height: 28px;
    font-size: small;
    margin:auto;
    text-align: center; 
    margin-top: 20px;
}

.language-container a {
    padding-left: 10px;
}

.language-container a:hover {
	text-decoration: underline;
}

footer {
	background: #F2F2F2;
}

footer h4 {
	color: #666;
	font-size: 15px;
	line-height: 40px;
	font-weight: 400;
	padding-left: 25px;
	border: 1px solid #eee;
}

footer a {
	color: #666;
	padding: 10px;
	font-size: 14px;
    line-height: 40px;
}
footer a:hover {
	text-decoration: underline;
}

.links {
	border-top: 1px solid #ddd;
	display: flex;
    /* align-items: flex-end; */
}

.link-colletion-1{
    padding-left: 20px;
}

.link-colletion-2{
    padding-left: 900px;
}