*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 14px;
}
 
nav a {
	font-size: 13px;
	padding: 5px 6.7px
}

.form{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.section-1 {
	flex: 1;
}

.section-1 .logo {
	display: flex;
	margin: 0px auto;
	margin-top: 107px;
}

.s-box .s-input{
    width:580px;
    display:block;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #ddd;
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
}

.s-box .button-container{
    margin:auto;
    text-align: center;  
}

.s-btn {
	border: 1px solid transparent;
    padding: 9px 15px;
	color: #666;
    font-size: 14px;
	border-radius: 4px;
}